<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>feed</key>
	<string></string>
	<key>password</key>
	<string></string>
	<key>fullName</key>
	<string></string>
	<key>emergencyTelephone</key>
	<integer>0</integer>
	<key>officeTelephone</key>
	<integer>0</integer>
	<key>email</key>
	<string></string>
	<key>speaciality</key>
	<string></string>
	<key>cpf</key>
	<integer>0</integer>
	<key>crm</key>
	<integer>0</integer>
</dict>
</plist>
